/* Default if no style indicated */
body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
