name: "matlab-nomex"

runs:

  using: "composite"

  steps:

  - name: Main Tests
    if: ${{ matrix.release >= 'R2024b' }}
    uses: matlab-actions/run-build@v2
    with:
      tasks: test:main


  - name: Main Tests (< R2024b)
    if: ${{ matrix.release >= 'R2022b' && matrix.release < 'R2024b' }}
    uses: matlab-actions/run-build@v2
    with:
      tasks: test_main


  - name: Java, JavaExe Test
    if: ${{ matrix.release >= 'R2024b' }}
    uses: matlab-actions/run-build@v2
    with:
      tasks: test:java test:java_exe test:exe
      startup-options: -logfile ${{ matrix.release }}-${{ runner.os }}-test.log


  - name: Java Test (R2022b..R2024a)
    if: ${{ matrix.release >= 'R2022b' && matrix.release < 'R2024b' }}
    uses: matlab-actions/run-build@v2
    with:
      tasks: test_java


  - name: JavaExe Test (R2023b..R2024a)
    if: ${{ matrix.release >= 'R2023b' && matrix.release < 'R2024b' }}
    uses: matlab-actions/run-build@v2
    with:
      tasks: test_java_exe test_exe
      startup-options: -logfile ${{ matrix.release }}-${{ runner.os }}-test.log


# note: "source-folder" adds all subfolders to Matlab path
# https://github.com/matlab-actions/run-tests?tab=readme-ov-file#run-matlab-tests
  - name: Non-buildtool tests (< R2022b)
    if: ${{ matrix.release < 'R2022b' }}
    uses: matlab-actions/run-command@v2
    with:
      startup-options: -logfile ${{ matrix.release }}-${{ runner.os }}-test.log
      command: test_main

  - name: upload logfile
    if: ${{ hashFiles(matrix.release-runner.os-test.log) != '' }}
    uses: actions/upload-artifact@v6
    with:
      name: ${{ matrix.release }}-${{ runner.os }}-test-log
      path: ${{ matrix.release }}-${{ runner.os }}-test.log
      retention-days: 1
